section.historico{
    padding: 100px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.1);
}

section.historico .flex{
    justify-content: space-around;
    margin-top: 60px;
    gap: 30px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-color: #111;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    opacity: 0;
    transition: .5s;
    padding: 30px;
    text-align: center;
    line-height: 1.5;
}

.overlay:hover{
    opacity: 1;
}

.overlay strong {
    display: block;
    font-size: 22px;
    color: #00ff08;
    margin-bottom: 10px;
}
